fastapi
uvicorn
python-multipart
pydantic
pymupdf
rapidocr-onnxruntime
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langgraph
litellm
sentence-transformers
python-dotenv
sqlalchemy[asyncio]
asyncpg
aiosqlite
pinecone-client
langchain-pinecone
pydantic-settings
greenlet
