fastapi
uvicorn
python-multipart
pydantic
pypdf
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-groq
langgraph
litellm
sentence-transformers
ddgs
python-dotenv
sqlalchemy[asyncio]
aiosqlite
asyncpg
pinecone-client
langchain-pinecone
pydantic-settings
greenlet
